<h3>All tasks</h3>

<nz-table #basicTable [nzData]="alltaskList">
    <thead>
      <tr>
        <th style="width: 15%;">Update status</th>
        <th style="width: 30%;">Name</th>
        <th style="width: 40%;">Description</th>
        <th style="width: 15%;">Repeat task</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
       <td> <p style="margin-bottom: 20px;">
        <label nz-checkbox [(ngModel)]="data.status" (change)="changeListener($event , data)"  >
          {{ data.status ? 'Checked' : 'Unchecked' }} 
        </label>
      </p>
      <p>

      </p></td>
        <td>{{data.name}}</td>
        <td>{{data.description}}</td>
        <td>{{data.repeated_task ? 'Yes' : 'No' }}</td>
       
      </tr>
    </tbody>
  </nz-table>